POSTGRES_DB=forcecon_cad
POSTGRES_USER=forcecon
POSTGRES_PASSWORD=replace-with-a-long-random-database-password
CAD_ADMIN_EMAIL=admin@forcecon.com.tw
CAD_ADMIN_PASSWORD=replace-with-a-unique-admin-password
CAD_ADMIN_DISPLAY_NAME=System Administrator
CAD_COMPANY_EMAIL_DOMAINS=forcecon.com.tw,forcecon-group.com
CAD_CREDENTIAL_ENCRYPTION_KEY=replace-with-a-fernet-key
CAD_EMAIL_DELIVERY_API_KEY=replace-with-a-random-integration-api-key
CAD_TRASH_RETENTION_DAYS=30
CAD_COOKIE_SECURE=0
CAD_CORS_ORIGINS=http://localhost:8000
CAD_COMPANY_DATA_DIR=./company_data
CAD_EXTERNAL_PREDICTION_API_KEY=
